html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: 'Press Start 2P', cursive;
  background: repeating-linear-gradient(to bottom, #0f0a1e, #0f0a1e 2px, #140e29 2px, #140e29 4px);
}
.titulo {
  position: absolute;
  margin-top:80px !important;
  top: 0;
  left: 0;
  bottom: 30;
  right: 0;
  height: 90px;
  color: #fff;
  width: 100%;
  text-align: center;
  margin: auto;
  font-size: 100px;
  line-height: 40px;
  letter-spacing: 5px;
  text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
  animation: blink 1s steps(4, start) infinite;
}
@-moz-keyframes blink {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}
@-o-keyframes blink {
  to {
    visibility: hidden;
  }
}
@keyframes blink {
  to {
    visibility: hidden;
  }
}
.sub{
    position: absolute;
    top:300px;
    left: 0;
    right: 0;
    text-align: center;
    color:#fff
}
[class*=push] {
    position: relative;
    display: inline-block;
    width: 240px;
    height: 240px;
    border: 0;
    margin: 1em;
    outline: none;
    background-color: #c2290a;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 200ms;
  }
.push--flat {
    box-shadow: inset 0 7.5px 0 #da2e0b, inset 0 -7.5px 0 #aa2409, inset 0 0 0 7.5px #b32609, inset 0 0 0 20px #c2290a, inset 0 0 0 24px #611405, inset 0 0 0 26.0869565217px black, inset 0 0 0 32px rgba(247, 133, 110, 0.7), inset 0 0 0 43.6363636364px #c2290a, inset 0 96px 32px #aa2409, inset 0 0 24px 40px #911f08, 0 12px 0 rgba(0, 0, 0, 0.3);
    color:#fff;
    font-size: 50px;
  }
  .push--flat:after {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 24px;
    display: block;
    width: 192px;
    height: 192px;
    border: 16px solid rgba(0, 0, 0, 0.3);
    border-width: 0 0 16px;
    border-radius: 50%;
    transition-duration: 200ms;
  }
  .push--flat:active, .push--flat.is-pushed {
    box-shadow: inset 0 7.5px 0 #da2e0b, inset 0 -7.5px 0 #aa2409, inset 0 0 0 7.5px #b32609, inset 0 0 0 20px #c2290a, inset 0 0 0 24px #611405, inset 0 0 0 28.2352941176px black, inset 0 0 0 32px rgba(247, 133, 110, 0.2), inset 0 0 0 43.6363636364px #b32609, inset 0 96px 32px #9b2108, inset 0 0 24px 40px #791a06, 0 12px 0 rgba(0, 0, 0, 0.3);
    background-color: #b8270a;
  }
  .push--flat:active:after, .push--flat.is-pushed:after {
    bottom: 28px;
    border-width: 0;
  }
  .boton{
    position: absolute;
    top:400px;
    left: 0;
    right: 0;
    text-align: center;
    color:#fff

  }
  .instrucciones{
    position: absolute;
    top:800px;
    left: 0;
    right: 50%;
    text-align: center;
    color:#fff

  }
  .instruccionesp2{
    position: absolute;
    top:800px;
    left: 50%;
    right: 0;
    text-align: center;
    color:#fff

  }
  .tins{
    position: absolute;
    top:730px;
    left: 0;
    right: 0;
    text-align: center;
    color:#fff;
    font-size: 40px;
    text-decoration: underline;
  }