.navBarAzul{
    background-color:#2EACFC;
}
.navbar-nav{
    margin-left:auto !important;
}
.navbar-brand{
    color:#F3EFE0 !important;
}
.ni{
    color:#F3EFE0 !important;
}
.titulo{
   text-align: left;
   margin-left: 5%; 
}
.saludo{
    margin-top:200px;
    justify-content: center;
    align-content: center;
}

#sombreado{
    color:#9a9c9d;
    text-align: left;
    margin-left: 5%;
}
.forma{
height:800px;
width:600px;
}

.estadistica{
    display:inline;

}
.numeroE{
    position: relative;
    left:55%;
}
#nombre{
    color:white;
    position: relative;
    font-size: 30px;
    top:50%;
    left:10%;
    /* font-size: 4vw; */
    animation: flotar 4s infinite ease-in-out; 
}

@keyframes flotar {
    50% {
        top:45%;
    }
    100% {
        top:50%;
    }   
}

#about{
    padding-top:100px;
}

.btnAM{
    background-color:#2EACFC;
    color:white;
    border-radius:50PX;
    border:none;
    padding:10px;
    font-size:20px;
    margin-left:40%;
    margin-top:70px;
    cursor:pointer;
}
#aboutText{
    font-size:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left:5%;
}
.progress{
    margin-top:15px;
    width:70% !important;
    background-color: #cfcdcd !important;
    margin-bottom:15px;
}
