@{
    ViewData["Title"] = "agregar ";
}
<h1 class="titulo">agregar seguimiento</h1>
<div class="row">
    <div class="input-group mb-3 inputs">
    <span class="input-group-text" id="inputGroup-sizing-default">grupo</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
</div>
<div class="row">
    <div class="input-group mb-3 inputs">
    <span class="input-group-text" id="inputGroup-sizing-default">descripcion</span>
    <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
</div>
<div class="row">
    <div class="input-group mb-3 inputs">
    <span class="input-group-text" id="inputGroup-sizing-default">descripcion</span>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
</div>
<h3>ejercicios</h3>
    <div class="row">
        <ul id="ejercicios">
            <li>press bank</li>
        </ul>
    </div>
<div class="row">
    <h6>ejercicio</h6>
    <div class="input-group mb-3 inputs">
    <input type="text" id="ejercicio" placeholder="ingresa el ejercicio" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
</div>
<div class="row">
    <h6>peso</h6>
    <div class="input-group mb-3 inputs">
    <span class="input-group-text" id="inputGroup-sizing-default"><p>KG</p></span>
    <input type="number" id="peso" placeholder="ingresa el ejercicio" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
</div>
<div class="row">
    <h6>repeticiones</h6>
    <div class="input-group mb-3 inputs">
    <input type="text" id="reps" placeholder="ingresa el ejercicio" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        <span class="input-group-text" id="inputGroup-sizing-default"><button class="btn btn-warning" onclick="agregarEjercicio()">agregar</button></span>
    </div>
</div>
<div class="text-center">
    <button class="btn btn-warning">guardar</button>
</div>


