<h1 class="titulo">perfil</h1>









<div class="row"><img src="https://media-exp1.licdn.com/dms/image/C4D03AQGuqOhuvtRAwQ/profile-displayphoto-shrink_200_200/0/1653618628055?e=1660176000&v=beta&t=p4YtT62yOdVd1O9mC5VVY3uL5Jj3wPTxtg2FLmZfDGo"></div>
<div class="row"><h2>Galo Doublier</h2></div>
<div><p></p></div>